../birdalert0/.env
test.ipynb
code_archive.ipynb
data/ebird_taxonomy_en.json
data/ebird_taxonomy_ja.json
data/ebird_taxonomy_zh_SIM.json
data/Avibase_Tokyo.csv
temp.txt
.ipynb_checkpoints
__pycache__
*.swp
*.pyc
.idea
*.pdf
*.PDF
pdf_files
.env
.DS_Store
.idea/workspace.xml
